<p id="notice"><%= notice %></p>

<h1>Moober</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Profiles', users_path %> |
  <%= link_to 'Create Service', new_service_path %> |
  <%= link_to 'Request Service' %> |
  <%= link_to 'List of Your Orders', orders_path %> |
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> |
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="service_id">Service Name:</label>
        <input type="text" name="service_id" class="form-control">
      </div>
      <div class="form-group">
        <label for="product_name">Vehicle:</label>
        <input type="text" name="vehicle"  class="form-control">
      </div>
      <div class="form-group">
        <label for="price">Cost:</label>
        <input type="text" name="cost" class="form-control">
      </div>
      <input type="submit" value="Search" class="btn btn-dark">
      <%= link_to "Clear Search", services_path, class:"btn btn-warning" %>
    </form>
  </div>
</div>

</nav>

<br>
<p>Currently logged in as: <%= current_user.email %></p>
<br>

<h3>Services Offered</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Service Name</th>
      <th>Vehicle Type</th>
      <th>Vehicle Image</th>
      <th>Cost</th>
      <th>Driver Email</th>
      <th>Service Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.service_id %></td>
        <td><%= service.vehicle %></td>
        <td><%= image_tag service.image_url(:thumb) %></td>
        <td><%= service.cost %></td>
        <td><%= service.driver_id %></td>
        <td><%= service.distance %></td>
        <td><%= link_to 'View', service %></td>
        <% if current_user.can_update?(service) %>
          <td><%= link_to 'Edit', edit_service_path(service) %></td>
          <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Services Needed</h3>
