<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<p>
  <strong>Service:</strong>
  <%= @service.service_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @service.vehicle %>
</p>

<p>
  <strong>Vehicle Picture:</strong>
   <%= image_tag @service.image_url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @service.cost %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @service.driver_id %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @service.distance %>
</p>

<p>
  <strong>Rating:</strong>
  <% @service.blank_stars.times do %>
   <span class="glyphicon glyphicon-star-empty"></span>
  <% end %>
</p>


<iframe
  width="800"
  height="650"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-d9dGo6Z72Eo-i7QkFQRoYJXwW_LLmb4
    &q=<%= @service.full_street_address %>" allowfullscreen>
</iframe>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Purchase this service', new_charge_path(service_id: @service.id) %> |
<%= link_to 'Back', services_path %> |
