<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id, id: :order_order_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :order_rating %>
  </div>

  <div class="field">
    <%= form.label :buyer_id %>
    <%= form.text_field :buyer_id, id: :order_buyer_id %>
  </div>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.text_field :driver_id, id: :order_driver_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :order_cost %>
  </div>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id, id: :order_service_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
