<p id="notice"><%= notice %></p>

<h1>Moober Order Number: <%= @order.id %></h1>


<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Return to Services', services_path %> |
  <%= link_to 'Return to Orders', orders_path %> |
  <%= link_to 'Profiles', users_path %> |
  <%= link_to 'Create Service', new_service_path %> |
  <%= link_to 'Request Service' %> |

  <%= link_to('Logout', destroy_user_session_path, method: :delete) %> |
</nav>
<br>
<br>
<p>Currently logged in as: <%= current_user.email %></p>
<br>

<p>
  <strong>Order:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @order.rating %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @order.buyer_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @order.driver_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order.service_id %>
</p>
